@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*'Bebas neue'*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/*'Outfit'*/

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: Outfit,Verdana, Tahoma, sans-serif;
}

body{
    background-color: rgb(5, 0, 27);
    font-family: Outfit, Verdana, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(5, 0, 27);
    color: gold;
    align-items: center;
    
}

header a{
    text-decoration: none;
    color: gold;
}

.navigation{
    /* width: 80%; */
    display: flex;
    justify-content: end;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 5%;
    flex-direction: row;
}

.nav-list li{
    padding: 8px 20px;
}

.nav-list a {
    text-decoration: none;
    color: gold;
}

.nav-list li:hover a {
    color: white;
}

.titulo-prod{
    font-size: xx-large;
    color: gold;
    text-align: center;
    margin: 3%;

}

.vivi{
    font-size: xx-large;
    font-family: Bebas Neue,Verdana, Tahoma, sans-serif;
    color: rgb(5, 0, 27);
    text-align: center;
    background-color: gold;
    padding: 2%;
    
}

.prod-contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18em;
    border: 2px solid;
    text-align: center;
    margin: 8px;
    padding: 8px;
}

.precio{
    color: gold;
    font-size: x-large;
    text-align: left;
    margin-top: 8px;

}

.oferta{
    font-size: medium;
    color: green;
    text-align: left;
    margin-top: 8px;
}

.descripcion{
    color: gold;
    font-size: small;
    text-align: left;
    margin-top: 8px;
}

.boton1{
    background-color: gold;
    color: rgb(5, 0, 27);
    padding: 8px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;

}

.boton1:hover{
    cursor: pointer;
    background-color: yellow;
    color: rgb(5, 0, 27);
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 40px;
    
}

.form-group{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 5px; 
}

.form-group input{
    padding: 8px;
}

.boton-form{
    background-color: rgb(187, 187, 187);
    padding: 8px 20px;
    width: 20%;
    margin: auto;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.boton-form:hover{
    background-color: rgb(238, 238, 116);
}

footer{
    background-color:rgba(255, 217, 0, 0.8) ;
    color: black;
    padding: 5%;
    margin: 5px;
    text-align: left;
    border: 2px solid gold
}

footer a {
    text-decoration: none;
    color: black;
}

.tit-form{
    font-size:x-large;
}

footer{
    background-color:rgba(255, 217, 0, 0.8) ;
    color: black;
    padding: 5%;
    margin: 5px;
    text-align: center;
    border: 2px solid gold
}

footer a {
    text-decoration: none;
    color: black;
}

.boton-wsp{
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none
    
}

@media only screen and (max-width:600px) {

header {
    flex-direction: column;
}

.nav-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px
    
}
}